{% load static %}`
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GCEO Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link href="{% static 'gceo/css/demo.css' %}" rel="stylesheet">
</head>
<body>
<h1>Hello-Bootstrap</h1>
    <div class="container-fluid">
        <div class="wraper">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-title d-flex">
                            <div class="w-75">
                                <span>Total Customers</span>
                            </div>
                            <div class="w-25 text-center b-red">
                                <span class="text-danger ">-5%</span>
                            </div>
                        </div>
                        <div class="card-text">
                            <strong><p>250K</p></strong>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <div class="w-75">
                                <span>Active Customers</span>
                            </div>
                            <div class="w-25 text-center b-red">
                                <span class="text-danger ">-2%</span>
                            </div>
                        </div>
                        <div class="card-text">
                            <strong><p>250K</p></strong>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <div class="w-75">
                                <span>Digital Customers</span>
                            </div>
                            <div class="w-25 text-center b-red">
                                <span class="text-danger ">-5%</span>
                            </div>
                        </div>
                        <div class="card-text">
                            <strong><p>250K</p></strong>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <div class="w-75">
                                <span>Liquidity Ratio</span>
                            </div>
                            <div class="w-25 text-center b-green">
                                <span class="text-success ">+15%</span>
                            </div>
                        </div>
                        <div class="card-text">
                            <strong><p>250K</p></strong>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <div class="w-75">
                                <span>Cost to Income Ratio</span>
                            </div>
                            <div class="w-25 text-center b-green">
                                <span class="text-success ">+2.5%</span>
                            </div>
                        </div>
                        <div class="card-text">
                            <strong><p>250K</p></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>